.container {
  text-align: center;
  color: var(--icon);
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  padding-top: 2em;
}

.label {
  text-anchor: middle;
  font-family: "internet", Arial, Helvetica, sans-serif;
}

.label-outline {
  fill: none;
  stroke: var(--base-background);
  stroke-width: 6;
  stroke-linecap: "round";
}
