@font-face {
  font-family: "lt_internet";
  src: url("../assets/fonts/lt_internet/LTInternet-Regular.ttf")
    format("truetype");
}

* {
  --primary: #ffcf05;
  --shadow: #252525;
  --deep-focus: #303030;
  --deep-border: #383838;
  --base-background: #424242;
  --context-background: #606060;
  --menue-background: #535353;
  --icon: #c2c2c2;
  --text: #cfcfcf;
  --text-highlight: #f3f3f3;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "internet", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: var(--base-background);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

.app-main-container {
  display: grid;
  grid-template-rows: 5vh 85vh 10vh;
}
