@font-face {
  font-family: "lt_internet";
  src: url("../assets/fonts/lt_internet/LTInternet-Regular.ttf")
    format("truetype");
}

* {
  /* ------ COLORS ------ */
  --primary: #ffcf05;
  --primary-dark: #dfb306;
  --shadow: #252525;
  --shadow-blur: #000000;
  --deep-focus: #303030;
  --deep-border: #383838;
  --base-background: #424242;
  --context-background: #606060;
  --menue-background: #535353;
  --icon: #c2c2c2;
  --icon-dark: #a5a4a4;
  --text: #cfcfcf;
  --text-highlight: #f3f3f3;

  /* ------ Basic-Sizes ------ */
  --header-height: 5vh;
  --bottom-nav-height: 10vh;
  --top-shadow-height: 20px;
  --bottom-shadow-height: 20px;
  --subnav-info-height: 50px;

  /* ------ PDF-Modal  ------ */
  --pdf-mod-margin-top: 15vh;
  --pdf-mod-margin-right: 5vh;
  --pdf-mod-margin-bottom: 15vh;
  --pdf-mod-margin-left: 5vh;
  --close-icon-width: 2.5rem;

  /* ------ TopNavLine ------ */
  /* --unselected-width: 1;
  --selected-width: 2; */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "internet", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: var(--base-background);
  color: var(--text);
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-main-container {
  display: grid;
  grid-template-rows:
    var(--header-height)
    var(--top-shadow-height)
    auto
    var(--bottom-shadow-height)
    var(--bottom-nav-height);
  width: 100vw;
  height: 100vh;
}

.content {
  position: absolute;
  top: calc(var(--header-height) + 2.16vh);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--bottom-nav-height) - 2.5vh);
}

/* ---- Shadows ---- */

.top-shadow-stripes {
  margin-top: calc(var(--header-height) - 2.9vh);
  height: var(--top-shadow-height);
  background-image: url("/images/shadowlineelement-180.svg");
  background-size: 8px;
  background-repeat: repeat-x;
}
.top-shadow-stripes-infoshift {
  margin-top: var(--subnav-info-height);
}

.bottom-shadow-stripes {
  height: var(--top-shadow-height);
  background-image: url("/images/shadowlineelement.svg");
  background-size: 8px;
  background-repeat: repeat-x;
}

.real-shadow-top {
  position: absolute;
  top: calc(var(--header-height) + 1.9vh);
  width: 100%;
  height: var(--top-shadow-height);
  -moz-box-shadow: inset 0 3px 5px -3px var(--shadow-blur);
  -webkit-box-shadow: inset 0 3px 5px -3px var(--shadow-blur);
  box-shadow: inset 0 3px 5px -3px var(--shadow-blur);
}

.real-shadow-top-infoshift {
  /* margin-top: var(--subnav-info-height); */
  margin-top: 35px;
}

.real-shadow-bottom {
  position: absolute;
  top: calc(100vh - var(--bottom-nav-height) - var(--bottom-shadow-height));
  width: 100%;
  height: var(--bottom-shadow-height);
  -moz-box-shadow: inset 0 -3px 5px -3px var(--shadow-blur);
  -webkit-box-shadow: inset 0 -3px 5px -3px var(--shadow-blur);
  box-shadow: inset 0 -3px 5px -3px var(--shadow-blur);
}
