.container {
  display: flex;
  list-style: none;
  background-color: var(--menue-background);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2em;
}

.container > li {
  font-family: "internet", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.1em;
  width: 33%;
  height: 100%;
  display: grid;
  align-content: center;
  margin: 7px 0 0 0;
}

.svg {
  margin: 0;
  padding: 0;
}
